Extra-bits/Carparks_Left_NodeRed
[{"id":"c0967bd8.c828b8","type":"http request","z":"d7e6d7fe.dd9c4","name":"","method":"GET","ret":"txt","url":"http://www.uow.edu.au/cgi-bin/parking/free-spaces?json=1","tls":"","x":270,"y":60,"wires":[["99103b15.8da38"]]},{"id":"2659b166.3bf59e","type":"debug","z":"d7e6d7fe.dd9c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"parks","x":810,"y":60,"wires":[]},{"id":"4be9113c.0bf528","type":"inject","z":"d7e6d7fe.dd9c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["c0967bd8.c828b8"]]},{"id":"99103b15.8da38","type":"json","z":"d7e6d7fe.dd9c4","name":"","property":"payload","action":"","pretty":false,"x":410,"y":60,"wires":[["ad997c95.528148","75338952.1994e"]]},{"id":"ad997c95.528148","type":"split","z":"d7e6d7fe.dd9c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":60,"wires":[["c119c5ef.65ee68"]]},{"id":"c119c5ef.65ee68","type":"function","z":"d7e6d7fe.dd9c4","name":"","func":"\nif (msg.payload.subzoneno == 6){\n    msg.parks = (\"Parking spots left in carpool: \" + msg.payload.display)\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["2659b166.3bf59e"]]},{"id":"75338952.1994e","type":"debug","z":"d7e6d7fe.dd9c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":100,"wires":[]}]
