IoT101/Node-Red-Flow
[{"id":"bd31b13b.2cf41","type":"mqtt in","z":"b6a21caf.84c9a8","name":"","topic":"/MSIOT101/IN","qos":"2","broker":"2c5b4c1.cef7934","x":160,"y":200,"wires":[["b3265a93.d5a0a8","be1faa71.37e6"]]},{"id":"ea6da9bc.474838","type":"mqtt out","z":"b6a21caf.84c9a8","name":"","topic":"/MSIOT101/OUT","qos":"","retain":"","broker":"2c5b4c1.cef7934","x":650,"y":200,"wires":[]},{"id":"b3265a93.d5a0a8","type":"function","z":"b6a21caf.84c9a8","name":"Process","func":"var state = global.get(\"state\"); \n\nif (msg.payload == \"B\")\n{\n    if (state == 1)\n    {\n        msg.payload = 0;\n        global.set(\"state\",0); \n        node.status({fill:\"yellow\",shape:\"dot\",text:\"Relay Off\"});\n        return msg;\n    }\n    if (state == 0)\n    {\n        msg.payload = 1;\n        global.set(\"state\",1); \n        node.status({fill:\"green\",shape:\"dot\",text:\"Relay On\"});\n        return msg;\n    }\n}\n\nif (msg.payload == \"RESET\")\n{\n    global.set(\"state\",0); \n    msg.payload = 0;\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Relay Off\"});\n    return msg; \n}\n\n","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["ea6da9bc.474838"]]},{"id":"f25303b3.19e238","type":"inject","z":"b6a21caf.84c9a8","name":"Reset Relay (State = OFF)","topic":"","payload":"RESET","payloadType":"str","repeat":"","crontab":"","once":false,"x":270,"y":100,"wires":[["b3265a93.d5a0a8"]]},{"id":"e489d127.e7b9b8","type":"inject","z":"b6a21caf.84c9a8","name":"Test ","topic":"","payload":"B","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":140,"wires":[["b3265a93.d5a0a8"]]},{"id":"be1faa71.37e6","type":"debug","z":"b6a21caf.84c9a8","name":"","active":true,"console":"false","complete":"true","x":290,"y":320,"wires":[]},{"id":"2c5b4c1.cef7934","type":"mqtt-broker","z":"","broker":"13.210.157.158","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
